.combineSearchCom {
  background: white;
  padding: 12px 24px 8px;
  .ant-select-dropdown-menu-item {
    padding-right: 30px;
  }

  .ant-col.ant-form-item-label {
    flex: 0 auto;
    max-width: 30%;
    margin-bottom: 0px;
  }

  .ant-col.ant-form-item-control {
    flex: 1 auto;
    margin-bottom: 0px;
    max-width: 100%;
  }

  .combine-search-cmd-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 32px;
  }

  .toggle-btn {
    transform: rotate(270deg);
  }

  .ant-row.ant-form-item {
    margin-bottom: 8px;
  }
}
