{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-private-property-in-object"], // svg插件的依赖
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      },
      "antd"
    ]
  ]
}
